.cart{
    padding-left: 10px;
    
}
.personal{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    gap:30px;
    

}
.btn-mint button{
    background-color: white;
    border: none;
    margin-right: 8px;
    border-radius:50%;
    padding-left: 10px;
}
.btn-mint button:hover{
    background-color: orange;
}
.break-text{
    padding-left:15px;
}
.input-field{
    padding-left: 15px;
    margin: 10px;
}
.exercise-field{
    margin-bottom: 15px;
}
.exercise{
    border: none;
    border-radius: 5px;
    padding: 5px;

}
.break-field{
    margin-bottom: 25px;
}
.time{
    border: none;
    border-radius: 5px;
    padding: 5px;

}
.btn-complete{
    width: 100%;
    background-color: rgb(242, 191, 125);
    border: none;
    border-radius: 7px;
    font-weight: 600;
    color: white;
}
.btn-complete:hover{
    background-color: orange;
}