.header{
    display: flex;
    align-items: center;
    padding-left:80px;
    margin-top: 40px;

}
.header .header-text{
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    color: darksalmon;
    padding-left: 10px;
}

.header img{
    width: 100px;
    height: 100px;

}
.daily-active{
    padding-left: 80px;
    

}